body {
  font-family: helvetica;
  background-color: oldlace;
}

.jumbotron {
  text-align: center;
  background-color: darkseagreen;
}

#userInput {
  background-color: oldlace;
}

.btn {
  background-color: oldlace;
}

#list {
    display: none;
    background-color: darkseagreen;
}

ul {
  font-weight: bold;
  font-size: 1.5em;
}

ul.regular {
  text-align: center;
}

ul.regular li {
  list-style-type: none;
  display: inline;
  text-align: center;
}
.ping {
  list-style-type: none;
  text-align: left;
  color: hotpink;
}
.pong {
  list-style-type: none;
  text-align: right;
  color: skyblue;
}
.ping-pong {
  list-style-type: none;
  text-align: center;
  color: white;
}

#explanation {
  text-align: center;
  font-size: .75em;
  background-color: darkseagreen;
  display: none;
}

#explanation ul {
  list-style-type: none;
}
